<h1>这是模板</h1>
<form action="/form" method="post">
    <input type="text" name="user_name" placeholder="输入账号" />
    <br/>
    <input type="password" name="password">
    <br>
    <input type="submit">
</form>